body, html {
    height: 100%;
    margin: 0px;
}
@media only screen and (max-width: 992px) {
    div.text1 h1 {
        font-size: 36px;
    }
    div.text1 h2 {
        font-size: 100%;
    }
    div.text1 {
        margin: 50px; 
    }
    .text2 {
        font-size: 100%;
        padding: 0px;
    }
}
/*make style/font changes based on smaller screens also change the amount that the top image shows when the menu flips. check w3 for average screen sizes*/
@media only screen and (min-width: 992px) {
    div.text1 h1 {
        font-size: 72px;
    }
    div.text1 h2 {
        font-size: 24px;
    }
    .text2 {
        font-size: 24px;
    }
}
@media only screen and (min-width: 1200px) {
    .text2 {
        font-size: 24px;
    }
}
.backgrdimg1 {
    /* 7-13-18 changed to png from jpg because issues with scoll jerk. Didn't work. */
    background-image: url("desk.png");
    /* Make imgage partially transparent and blurry */
    opacity: 0.4;
    filter: blur(5px);
    /* Half of the height of image */
    height: 25%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;  
}
.backgrdimg2 {
    /* 7-13-18 changed to png from jpg because issues with scoll jerk. Didn't work. */
    background-image: url("desk.png");
    /* Make imgage partially transparent and blurry */
    opacity: 0.8;
    filter: blur(0px);
    /* Half of the height of image */
    height: 75%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.backgrdimg3 {
    /* 7-13-18 changed to png from jpg because issues with scoll jerk. Didn't work. */
    background-image: url("code.png");
    /* Make imgage partially transparent and blurry */
    opacity: 0.8;
    filter:blur(0px);
    /* Half of the height of image */
    height:50%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;   
}
div.text1 h1 {
    font-family: 'Space Mono';
    text-align: center;
    /* font-size: 72px;*/
}
div.text1 h2 {
    font-family: 'Space Mono';
    text-align: center;
}
div.text1 {
    /*margin: 100px;*/ 
}
.text2 {
    /*padding-left: 85px; */
    /*padding-right: 85px;*/
    font-family: 'Space Mono';
    /* font-size: 24px; */
    text-align:center;
}
.border {
    vertical-align: Middle;
    text-align: Center;
    background-color: white;
    color: white;